<p><%= t ".title", email: @resource.email %>!</p>

<p><%= t ".introduction" %></p>

<p><%= link_to t(".link_change"), edit_password_url(@resource,
  reset_password_token: @token) %></p>

<p><%= t ".msg_content_1" %></p>
<p><%= t ".msg_content_2" %></p>
