<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t("header.logo_title"), root_path, id: "logo" %>

    <nav>
      <ul class="nav navbar-nav navbar-right" id="menu-top">
        <li>
          <a class="dropdown" id="shopping-cart" data-toggle="dropdown">
            <span class="glyphicon glyphicon-shopping-cart"></span>
            <b class="caret"></b>
            <span class="badge number-cart">
              <%= session[:cart].nil? ? 0 : session[:cart].size %>
            </span>
          </a>
          <ul id="dropdown-items" class="dropdown-menu drop-cart">
            <%= render partial: "cart/cart_item", locals: {cart: session[:cart]} %>
          </ul>
        </li>
      <% if user_signed_in? %>
        <% if current_user.admin? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span class="glyphicon glyphicon-list-alt"></span>
              <%= t("header.management") %>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li class="divider"></li>
              <li><%= link_to t("header.admin_users"), admin_users_path %></li>
              <li><%= link_to t("header.admin_categories"), admin_categories_path %></li>
              <li><%= link_to t("header.admin_products"), admin_products_path %></li>
              <li><%= link_to t("header.admin_orders"), admin_orders_path %></li>
              <li><%= link_to t("header.admin_suggests"), admin_suggests_path %></li>
            </ul>
          </li>
        <% end %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="glyphicon glyphicon-user"></span>
            <%= current_user.name %>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to t("header.history_orders"), orders_path %></li>
            <li><%= link_to t("header.profile"), user_path(current_user) %></li>
            <li><%= link_to t("header.edit_profile"),
              edit_user_registration_path %></li>
            <li class="divider"></li>
            <li>
              <%= link_to t("header.logout"),
                destroy_user_session_path, method: :delete %>
            </li>
          </ul>
        </li>
      <% else %>
        <li><%= link_to t("header.home"), root_path %></li>
        <li><%= link_to t("header.help"), help_path %></li>
        <li><%= link_to t("header.signup"), new_user_registration_path %></li>
        <li><%= link_to t("header.login"), new_user_session_path %></li>
      <% end %>
      </ul>
    </nav>
  </div>
</header>
